<script lang="ts">
  import ControlBarView from "../session/controls/ControlBarView.svelte";
  import Element from "$lib/tidy/elements/Element.svelte";
  import {
    currentTaskStore,
    sessionStore,
  } from "$lib/local/stores/session.store";
  import { Size } from "$lib/tidy/types/size.enum";
  import { SessionState } from "$lib/local/types/sessionState.enum";
  import Button from "$lib/tidy/elements/Button.svelte";
  import {
    formatSeconds,
    getAssociatedPlayerFromPath,
  } from "$lib/tidy/utils/utils";
  import { appStore } from "$lib/tidy/stores/app.store";
  import Expand from "$lib/tidy/icons/Expand.svelte";
  import IntervalTimerText from "../session/IntervalTimerText.svelte";

  export let path: string = "pointron.miniplayer";
  let parentBackgroundIndex = 0;

  $: focus =
    $currentTaskStore?.find(
      (x) =>
        x.id ===
        $sessionStore.taskBlocks[$sessionStore.taskBlocks.length - 1]?.taskId
    )?.label ?? "";
  function onPlayerClicked(event: any) {
    if (!path) return;
    let associatedPlayer = getAssociatedPlayerFromPath(path);
    $appStore.fullScreenComponentPath = associatedPlayer?.path ?? "";
  }
</script>

<Element
  on:click={onPlayerClicked}
  isActive={true}
  {parentBackgroundIndex}
  classList="flex justify-between items-center gap-4 border-t border-b border-fgs3 border-opacity-30 w-full px-4 py-2"
>
  {#if $sessionStore.state === SessionState.NOT_STARTED}
    <div class="flex justify-center w-full">
      <Button
        type="primary"
        {parentBackgroundIndex}
        size={Size.sm}
        on:click={(event) => {
          sessionStore.startSession();
          event.stopPropagation();
        }}
        label="start session"
      />
    </div>
  {:else}
    <div class="flex w-full items-center gap-4">
      <Expand />
      <div class="flex flex-col gap-2 truncate leading-none">
        <div
          class="flex items-center gap-1 leading-none text-b3 text-fgs3
           "
        >
          Total:
          {formatSeconds($sessionStore.totalElapsed)}
          <div class="px-1">|</div>
          <IntervalTimerText isShowLabel={true} />
        </div>
        <div class="text-fgs1 text-b1 truncate text-start">
          {focus}
        </div>
      </div>
    </div>

    <div class="flex h-full items-center gap-4">
      <ControlBarView controlItemSize={Size.sm} />
    </div>
  {/if}
</Element>
