<script lang="ts">
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import { sessionStore } from "$lib/local/stores/session.store";
  import { SessionState } from "$lib/local/types/sessionState.enum";
  import { SessionType } from "$lib/local/types/sessionType.enum";
  import { formatSeconds } from "$lib/tidy/utils/utils";
  export let isShowLabel: boolean = false;
  $: intervalLabel =
    $sessionStore.state === SessionState.BREAK_COMPLETED ||
    $sessionStore.state === SessionState.BREAK_RUNNING
      ? "Break"
      : "Interval";
</script>

<div
  class="flex gap-1 {$sessionStore.type != SessionType.PRESET &&
  $sessionStore.state === SessionState.INTERVAL_RUNNING &&
  $userLocalPreferences.intervalTimeLimit &&
  $sessionStore.timeElapsed > $userLocalPreferences.intervalTimeLimit * 60
    ? 'text-red'
    : ''}"
>
  {#if isShowLabel}
    {intervalLabel}:
  {/if}
  {formatSeconds($sessionStore.timeElapsed)}
</div>
