<script>
    import Button from "$lib/tidy/elements/Button.svelte";
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();
    function handleIgnoreClick() {
        dispatch("ignore");
    }
</script>

<div class="flex flex-col gap-6 p-4 justify-center items-center h-full">
    <div>Do you want to restore previously started session?</div>
    <div class="flex gap-4">
        <Button label="proceed" on:click />
        <Button label="ignore" on:click={handleIgnoreClick} />
    </div>
</div>
