<script lang="ts">
  import PresetsEditor from "$lib/local/components/presets/PresetsEditor.svelte";
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import CheckboxInput from "$lib/tidy/elements/CheckboxInput.svelte";
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
</script>

<TextInput
  bind:value={$userLocalPreferences.extendDuration}
  label="Extend duration"
  info="The default duration to extend the session, when you use dynamic duration."
  units={["minutes"]}
/>
<TextInput
  bind:value={$userLocalPreferences.intervalTimeLimit}
  label="Interval time limit"
  info="The maximum duration of an interval after which you will be notified to take a break. This does not apply if you start session using presets"
  units={["minutes"]}
/>
<div class="flex flex-col gap-1">
  <div class="text-fgs2">Interval Presets</div>
  <div>
    <PresetsEditor />
  </div>
</div>
<CheckboxInput
  label="Enable auto start interval"
  bind:checked={$userLocalPreferences.isEnableAutoStartInterval}
/>
