<script lang="ts">
  import { tagStore } from "$lib/local/stores/session.store";
  import TagItem from "./TagItem.svelte";
</script>

<div class="flex gap-2 flex-wrap">
  {#if $tagStore && $tagStore.length > 0}
    {#each $tagStore as tag (tag.id)}
      <TagItem {...tag} />
    {/each}
  {/if}
  <TagItem isAddNew={true} />
</div>
