<script lang="ts">
  import Break from "$lib/tidy/icons/Break.svelte";
  import Extend from "$lib/tidy/icons/Extend.svelte";
  import Finish from "$lib/tidy/icons/Finish.svelte";
  import Start from "$lib/tidy/icons/Start.svelte";
  import { Control } from "$lib/local/types/control.enum";
  import { createEventDispatcher, onMount } from "svelte";
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import { Size } from "$lib/tidy/types/size.enum";
  export let control: Control;
  export let color: string | undefined = "accent1";
  export let isProminent: boolean = false;
  export let size: Size = Size.md;
  export let width: number = 68;
  $: extendDuration = $userLocalPreferences.extendDuration;
  let zoomed = false;
  let ringStyles = "";
  let timer: any;
  const dispatch = createEventDispatcher();

  function clickHandler() {
    dispatch("click", { control });
  }

  onMount(() => {
    width = size === Size.md ? 68 : 48;
    //todo - later - causing flickering of the screen
    // if (isProminent) {
    //   ringStyles = "w-14 h-14 opacity-80";
    //   timer = setInterval(() => {
    //     zoomed = !zoomed;
    //     ringStyles = zoomed
    //       ? "w-24 h-24 opacity-0 transition-all duration-500"
    //       : "w-14 h-14 opacity-80";
    //   }, 600);
    // } else {
    //   clearInterval(timer);
    // }
    return () => {
      clearInterval(timer);
    };
  });
</script>

<div class="flex flex-col">
  <button
    on:click={(event) => {
      clickHandler();
      event.stopPropagation();
    }}
  >
    <div
      class="relative {size === Size.md
        ? 'w-16 h-16'
        : ''}  bg-{color} rounded-full flex items-center justify-center"
    >
      {#if control === Control.START || control === Control.RESUME}
        <Start {width} />
      {:else if control === Control.BREAK}
        <Break {width} />
      {:else if control === Control.EXTEND}
        <Extend {width} minutes={extendDuration} />
      {:else if control === Control.FINISH || control === Control.SKIP}
        <Finish {width} />
      {/if}
      {#if isProminent}
        <!-- <div
          class={`absolute rounded-full border-2  ${ringStyles}`}
          style="border-color: rgba(var(--colors-{color}))"
        /> -->
      {/if}
    </div>
  </button>
  {#if size === Size.md}
    <div class="text-fgs2 self-center">
      {Control[control].toLowerCase()}
    </div>
  {/if}
</div>
