<script>
  import TaskListBrowser from "$lib/local/components/archive/lists/TaskListBrowser.svelte";
  import MenuswitcherRow from "./MenuSwitcherRow.svelte";
  import TodayBar from "./TodayBar.svelte";
</script>

<div class="flex flex-col gap-5 py-5">
  <TodayBar />
  <MenuswitcherRow />
  <TaskListBrowser />
</div>
