<script lang="ts">
  import type { Task } from "$lib/local/types/session.type";
  import { dragAndDropStore } from "$lib/tidy/stores/app.store";
  import { TaskPersistance } from "$lib/local/stores/task.persistance";
  import AddNewTask from "./Task/AddNewTask.svelte";
  import TaskItem from "./Task/TaskItem.svelte";
  import { flip } from "svelte/animate";
  import { onMount } from "svelte";
  import type { DragAndDrop } from "$lib/tidy/types/draganddrop.type";
  import { handleDragNDrop } from "$lib/tidy/utils/dragDrop";
  import { generateUID } from "$lib/tidy/utils/utils";
  import Button from "$lib/tidy/elements/Button.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import { Persistance } from "$lib/tidy/stores/persistance";
  import { currentTaskStore } from "$lib/local/stores/session.store";
  import { pointronEvents } from "$lib/local/stores/local.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  export let sessionId: string;
  export let isCurrentSession: boolean = false;
  export let isInEditMode: boolean = false;
  export let intention: string = "  ";
  let taskPersistence = new TaskPersistance();
  let persistance = new Persistance();
  let tasks: Task[];
  const flipDurationMs = 200;

  onMount(() => {
    refreshBlockTasks();
    dragAndDropStore.subscribe((x: DragAndDrop) => {
      if (tasks?.length > 0) {
        let updatedTasks = handleDragNDrop(
          x,
          tasks,
          isCurrentSession ? true : sessionId
        );
        if (updatedTasks) {
          tasks = [...updatedTasks];
          updateTasks();
        }
      }
    });
  });

  function addNewTask(event: any) {
    let task: Task = {
      id: generateUID(),
      label: event.detail.label,
      tags: event.detail.tags,
      checked: false,
      worked: 0,
      estimate: 0,
      sessionId,
      order: tasks?.length ?? 0,
    };
    tasks = [...($currentTaskStore ?? []), task];
    updateTasks();
  }
  function updateTasks() {
    if (!tasks || tasks.length < 1) return;
    if (isCurrentSession) {
      currentTaskStore.updateCurrentTasks(tasks);
    } else {
      taskPersistence.updateTasks(tasks);
    }
    refreshBlockTasks();
  }
  function onMoveLeftovers() {
    let previousTasks = tasks;
    let leftovers = previousTasks.filter((task) => !task.checked);
    leftovers = leftovers.map((t: Task) => {
      t.sessionId = "";
      return t;
    });
    taskPersistence.updateTasks(leftovers);
    let currentTasks = $currentTaskStore ?? [];
    currentTasks = [...currentTasks, ...leftovers];
    currentTaskStore.updateCurrentTasks(currentTasks);
    pointronEvents.notify(PointronEventEnum.REFRESH_TIMELINE);
  }
  function refreshBlockTasks() {
    if (!isCurrentSession) {
      let taskPersistance = new TaskPersistance();
      tasks = taskPersistance.retrieveTasks(sessionId);
    } else {
      tasks = $currentTaskStore ?? [];
    }
    tasks?.sort((a, b) => a.order - b.order);
  }
</script>

{intention && (!tasks || tasks.length < 1) ? intention : ""}
{#if tasks || isCurrentSession}
  {#if tasks && tasks.length > 0}
    <div class="flex flex-col gap-2 w-full mb-2">
      {#each tasks as task, index (task.id)}
        <div class="w-full" animate:flip={{ duration: flipDurationMs }}>
          <TaskItem
            {sessionId}
            {isCurrentSession}
            {task}
            {index}
            {isInEditMode}
            on:change={refreshBlockTasks}
          />
        </div>
      {/each}
    </div>
  {/if}
  {#if isCurrentSession && !isInEditMode}
    <div class="w-full border border-bgs4 border-dashed rounded-lg p-3">
      <AddNewTask on:new={addNewTask} />
    </div>
  {/if}
  {#if isInEditMode && tasks.some((task) => !task.checked) && !isCurrentSession}
    <div class="self-center">
      <Button
        size={Size.sm}
        label="move leftovers to current session"
        on:click={onMoveLeftovers}
      />
    </div>
  {/if}
{/if}
