<script lang="ts">
  import {
    formatSeconds,
    formatSecondsToTime,
    formatTime,
  } from "$lib/tidy/utils/utils";
  import { onMount } from "svelte";
  import { sessionStore } from "$lib/local/stores/session.store";
  import Element from "$lib/tidy/elements/Element.svelte";
  import TasksView from "./TasksView.svelte";
  import type { SessionStore } from "$lib/local/types/session.type";
  import IntervalSelector from "../../presets/IntervalSelector.svelte";
  import { SessionState } from "$lib/local/types/sessionState.enum";
  import Button from "$lib/tidy/elements/Button.svelte";
  import IntervalBarView from "../../session/intervalbar/IntervalBarView.svelte";
  import { currentTime, windowObject } from "$lib/tidy/stores/app.store";
  import Popover from "$lib/tidy/components/Popover/Popover.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import { SessionType } from "$lib/local/types/sessionType.enum";
  export let id: any;
  export let isIdle: boolean = false;
  export let isCurrentSession: boolean = false;
  export let startTime: Date;
  export let intention: string = "  ";
  export let elapsed: number;
  export let isInEditMode: boolean = false;
  let minLineHeight: number;
  let elapsedInMinutes: number;
  let isShowIntervalSelector: boolean = false;
  $: {
    elapsedInMinutes = elapsed / 60;
    if (elapsedInMinutes >= 150) {
      minLineHeight = 150;
    } else if (elapsedInMinutes <= 50) {
      minLineHeight = 50;
    } else {
      minLineHeight = elapsedInMinutes;
    }
  }
</script>

<div class="flex gap-2 w-full">
  <div
    class="flex justify-center items-center w-2"
    style="min-height: {minLineHeight}px;"
  >
    <div
      class="relative {isIdle
        ? 'border-[1px] border-dashed border-fgs3 w-0.5'
        : isCurrentSession
        ? 'bg-bgs3 overflow-hidden w-1'
        : 'bg-accent1 w-0.5'} justify-center rounded-full h-full"
    >
      <div
        class="absolute bottom-0 bg-accent1 w-full"
        style="height: {$sessionStore.sessionProgress ?? 100}%"
      />
    </div>
  </div>
  <div
    class="flex flex-col w-full text-b2 {isCurrentSession
      ? 'justify-between opacity-100'
      : 'justify-end'}"
  >
    {#if isCurrentSession && !($sessionStore.state === SessionState.NOT_STARTED) && ($sessionStore.end || $currentTime)}
      <div class="px-1">
        {$sessionStore.type === SessionType.COUNTUP
          ? formatTime($currentTime)
          : $sessionStore.end
          ? formatTime($sessionStore.end)
          : ""}
      </div>
    {/if}
    {#if isCurrentSession && $sessionStore.state === SessionState.NOT_STARTED && $windowObject.isInThinMode}
      <Element
        classList="px-4
           py-0.5 bg-bgs3 rounded-lg max-w-min
          "
        on:click={() => {
          isShowIntervalSelector = true;
        }}
      >
        set
      </Element>
    {/if}
    <div class="flex flex-col justify-center gap-1 my-12 w-full">
      <div class="text-xs text-fgs2">
        {elapsed ? formatSecondsToTime(elapsed, isCurrentSession ? 3 : 2) : ""}
      </div>
      <div class="flex flex-col w-full">
        <TasksView
          sessionId={id}
          {isCurrentSession}
          {isInEditMode}
          {intention}
        />
      </div>
    </div>
    <div class="px-1">
      {formatTime(new Date(startTime))}
    </div>
  </div>
</div>
<Popover
  bind:show={isShowIntervalSelector}
  size={Size.lg}
  primaryText={"start session"}
  secondaryText={"done"}
  on:primary={() => {
    isShowIntervalSelector = false;
    sessionStore.startSession();
  }}
  on:secondary={() => {
    isShowIntervalSelector = false;
  }}
>
  <div class="w-full flex flex-col items-center gap-8">
    <IntervalSelector parentBackgroundIndex={2} />
    <IntervalBarView />
  </div>
</Popover>
