<script lang="ts">
    // @ts-nocheck

    import Button from "$lib/tidy/elements/Button.svelte";

    let hue = 0;
    let saturation = 50;
    let lightness = 50;
    let isDark: boolean = false;
    $: {
        if (isDark) {
            saturation = 30;
            lightness = 50;
        } else {
            saturation = 60;
            lightness = 70;
        }
    }
    function updateHue(e) {
        hue = e.target.value;
    }
</script>

<div class="h-full flex items-center justify-center">
    <div
        class="w-64 h-64"
        style="background-color:hsl({hue}, {saturation}%, {lightness}%)"
    >
        <input
            type="range"
            min="0"
            max="360"
            value={hue}
            on:input={updateHue}
        />
        <Button
            label={isDark ? "D" : "L"}
            on:click={() => {
                isDark = !isDark;
            }}
        />
    </div>
</div>
