<script lang="ts">
  import { windowObject } from "$lib/tidy/stores/app.store";
</script>

<p>
  {$windowObject.documentWidth}px X {$windowObject.documentHeight}px, {$windowObject.landscapiness},
  {$windowObject.scale}
</p>
