<script lang="ts">
    import { Rive } from "@rive-app/canvas";
    import { onMount } from "svelte";
    let trigger: any;
    onMount(() => {
        const r = new Rive({
            src: "bars3.riv",
            canvas: document.getElementById("canvas") as HTMLCanvasElement,
            autoplay: true,
            stateMachines: "sm",
            onLoad: () => {
                r.resizeDrawingSurfaceToCanvas();
                // Get the inputs via the name of the state machine
                const inputs = r.stateMachineInputs("sm");
                // Find the input you want to set a value for, or trigger
                trigger = inputs.find((i) => i.name === "press");
            },
        });
    });
    export function fireTrigger() {
        setTimeout(() => {
            trigger?.fire();
        }, 100);
    }
</script>

<canvas id="canvas" width="25" height="25" />
