<script lang="ts">
    import Button from "$lib/tidy/elements/Button.svelte";
    export let label = "Report feedback";
</script>

<head>
    <script src="https://tally.so/widgets/embed.js"></script>
</head>

<Button {label} isCustomAttributes={true}>
    <button
        data-tally-open="3XLEvL"
        data-tally-hide-title="1"
        data-tally-overlay="1"
        data-tally-emoji-text="👋"
        data-tally-emoji-animation="wave">{label}</button
    >
</Button>
