<script lang="ts">
  import EditButton from "$lib/tidy/elements/EditButton.svelte";
  import type { TimePeriod } from "$lib/local/types/session.type";
  import {
    checkIsToday,
    formatDateRelativeToToday,
    formatSecondsToTime,
    formatUserDate,
    generateUID,
    getCurrentUserDate,
    getDateDifferenceFromToday,
    getDayStartTime,
    getOneDayLater,
  } from "$lib/tidy/utils/utils";
  import { onMount } from "svelte";
  import {
    sessionStore,
    todayFocusStore,
  } from "$lib/local/stores/session.store";
  import TimelineBlock from "./timelineBlock/TimelineBlock.svelte";
  import DayFocusTimer from "$lib/local/components/topBar/DayFocusTimer.svelte";
  import ProgressBar from "$lib/tidy/elements/ProgressBar.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import CurrentSessionBlock from "./CurrentSessionBlock.svelte";
  import { userPreferences, windowObject } from "$lib/tidy/stores/app.store";
  import {
    pointronConstants,
    userLocalPreferences,
  } from "$lib/local/stores/local.store";
  export let day: TimePeriod;
  let sessionBlocks: any[] = [];
  let currentGapBlock: any;
  let isInEditMode: boolean = false;
  let refreshTimer: any;
  let progress: number = 0;
  let instanceId: any = generateUID();
  $: isToday = checkIsToday(day.day, $userPreferences.dayStart);
  $: insertGaps(day);
  onMount(() => {
    if (isToday) {
      refreshCurrentGap();
      refreshTodayProgress();
      refreshTimer = setInterval(() => {
        refreshCurrentGap();
      }, 1000);
    } else {
      progress = $userLocalPreferences.dailyFocusTarget
        ? day.focus / (60 * 60) / $userLocalPreferences.dailyFocusTarget
        : 0;
    }
    return () => {
      clearInterval(refreshTimer);
    };
  });
  function refreshTodayProgress() {
    progress = $userLocalPreferences.dailyFocusTarget
      ? $todayFocusStore.focus /
        (60 * 60) /
        $userLocalPreferences.dailyFocusTarget
      : 0;
  }

  function refreshCurrentGap() {
    if ($sessionStore && $sessionStore.start) {
      refreshCurrentGapBlock($sessionStore.start);
    } else {
      refreshCurrentGapBlock(new Date());
    }
  }
  function refreshCurrentGapBlock(date: Date) {
    let gap = 0;
    let start = 0;
    if (!day.sessions || day.sessions.length === 0) {
      start = getDayStartTime(
        getCurrentUserDate($userPreferences.dayStart),
        $userPreferences.dayStart
      );
      gap = (date.getTime() - start) / 1000;
    } else {
      let latestSession = day.sessions[day.sessions.length - 1];
      gap = (date.getTime() - latestSession.end) / 1000;
      start = latestSession.end;
    }
    if (gap > $pointronConstants.gapThreshold) {
      currentGapBlock = {
        startTime: start,
        id: start,
        elapsed: gap,
        isIdle: true,
      };
    } else {
      currentGapBlock = undefined;
    }
  }
  function insertGaps(day: TimePeriod) {
    if (!day || !day.sessions) return;
    let rawSessions = day.sessions.sort((a, b) => +a.id - +b.id);
    let sessionsAlongWithGaps: any[] = [];
    for (let i = 0; i < rawSessions.length; i++) {
      if (i === 0) {
        let dayStartTime = getDayStartTime(day.day, $userPreferences.dayStart);
        let gap = (rawSessions[i].start - dayStartTime) / 1000;
        if (gap > $pointronConstants.gapThreshold) {
          sessionsAlongWithGaps.push({
            startTime: dayStartTime,
            id: dayStartTime,
            elapsed: gap,
            isIdle: true,
          });
        }
      }
      const current = rawSessions[i];
      sessionsAlongWithGaps = [
        ...sessionsAlongWithGaps,
        {
          id: current.id,
          startTime: current.start,
          intention: current.intention,
          elapsed: (current.end - current.start) / 1000,
        },
      ];
      let isLast = false;
      const next = rawSessions[i + 1];
      let nextStart = undefined;
      if (next == undefined || next == null) {
        isLast = true;
        if (!isToday) {
          nextStart = getDayStartTime(
            getOneDayLater(day.day),
            $userPreferences.dayStart
          );
        }
      } else {
        nextStart = next.start;
      }
      if (nextStart) {
        const gap = (nextStart - current.end) / 1000;
        if (gap > $pointronConstants.gapThreshold) {
          sessionsAlongWithGaps = [
            ...sessionsAlongWithGaps,
            {
              startTime: current.end,
              id: current.end,
              elapsed: gap,
              isIdle: true,
            },
          ];
        }
      }
      if (isLast) break;
    }
    sessionsAlongWithGaps = sessionsAlongWithGaps.sort((a, b) => b.id - a.id);
    sessionBlocks = [...sessionsAlongWithGaps];
  }
</script>

{#if day.isEmptyPeriod && day.startDate}
  <div class="text-fgs3 text-b2 text-center py-10">
    -- No sessions
    {#if day.endDate}
      from <b>{formatUserDate(day.endDate)}</b> to
    {:else}
      on
    {/if}
    <b>{formatUserDate(day.startDate)}</b> --
  </div>
{:else}
  <div class="flex flex-col gap-2 justify-center w-full px-4 pb-10">
    <div class="flex w-full justify-between items-center pb-4">
      <div>
        {#if getDateDifferenceFromToday(day.day) >= -6}
          <div class="text-xs text-fgs2">
            {formatUserDate(day.day)}
          </div>
        {/if}
        <div
          class="{$windowObject.isInThinMode
            ? 'text-h2'
            : 'text-xl'} font-bold leading-none opacity-25"
        >
          {formatDateRelativeToToday(day.day)}
        </div>
      </div>
      <div class="flex flex-col gap-2 text-fgs2 text-b3 min-w-min">
        {#if isToday}
          <div class="flex">
            <DayFocusTimer />
          </div>
        {:else}
          {formatSecondsToTime(day.focus, 2)}
        {/if}
        <div><ProgressBar {progress} size={Size.sm} /></div>
      </div>
      <div class="opacity-50">
        <EditButton bind:isInEditMode />
      </div>
    </div>

    {#if isInEditMode}
      <div
        class="flex flex-col items-center justify-center w-full text-b3 text-fgs3"
      >
        <div>EDIT MODE IS ON</div>
        <div>You can rearrange tasks, move leftovers or delete items</div>
      </div>
    {/if}
    {#if isToday}
      <CurrentSessionBlock {isInEditMode} />
    {/if}
    {#if isToday && currentGapBlock}
      <TimelineBlock {isInEditMode} {...currentGapBlock} />
    {/if}
    {#each sessionBlocks as block (block.id)}
      <TimelineBlock {isInEditMode} {...block} />
    {/each}
  </div>
{/if}
